body {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
a {
  color: #1d8348;
  text-decoration: none;
}
.header {
  margin: auto;
  max-width: 80%;
  padding: 20px;
}
.title {
  color: #1d8348;
  text-align: center;
  margin: 0;
}
.description {
  display: flex;
  flex-direction: column;
}
.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15px;
}
.description > div {
  text-align: center;
  padding-top: 5px;
  color: #677876;
}
.description > div:last-child {
  padding-bottom: 15px;
}
.photo {
  max-height: 150px;
  margin: auto;
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  .photos {
    grid-template-columns: 1fr 1fr;
  }
}
